@font-face {
    font-family: Rubik;
    src: url('fonts/Rubik-Regular.ttf'),
        url('fonts/Rubik-Bold.ttf'),
        url('fonts/Rubik-BoldItalic.ttf'),
        url('fonts/Rubik-ExtraBold.ttf'),
        url('fonts/Rubik-ExtraBoldItalic.ttf'),
        url('fonts/Rubik-Italic.ttf'),
        url('fonts/Rubik-LightItalic.ttf'),
        url('fonts/Rubik-Medium.ttf'),
        url('fonts/Rubik-MediumItalic.ttf'),
        url('fonts/Rubik-Black.ttf'),
        url('fonts/Rubik-SemiBold.ttf'),
        url('fonts/Rubik-SemiBoldItalic.ttf'),
        url('fonts/Rubik-BlackItalic.ttf');
}

* {
    font-family: 'Rubik';
}

/* Use this rule to customize default pico theme */
/* For example
:root:not([data-theme]) {
    --pico-background-color: green;
    --pico-primary: red;
}
*/
:root:not([data-theme]) {}

@media only screen and (prefers-color-scheme: dark) {

    /* Use this rule to customize default dark theme */
    /* For example
    :root:not([data-theme]) {
        --pico-background-color: green;
        --pico-primary: red;
    }
    */
    :root:not([data-theme]) {}
}

html {
    font-size: 12px;
}

html,
body {
    max-width: 100%;
    overflow-x: hidden;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.center-label {
    display: flex;
    align-items: center;
}

.responsive_container:hover {
    transform: scale(1.1, 1.1);
    -ms-transform: scale(1.1, 1.1);
    /* IE 9 */
    -webkit-transform: scale(1.1, 1.1);
    /* Safari and Chrome */
    -o-transform: scale(1.1, 1.1);
    /* Opera */
    -moz-transform: scale(1.1, 1.1);
    /* Firefox */

}

@media (prefers-color-scheme: dark) {
    :root:not([data-theme]) .black-img {
        -webkit-filter: invert(100%);
        /* safari 6.0 - 9.0 */
        filter: invert(100%);
    }

    :root:not([data-theme]) .github-link {
        -webkit-filter: invert(100%);
        /* safari 6.0 - 9.0 */
        filter: invert(100%);
    }
}

.humble,
.humble:hover,
.humble:visited,
.humble:active {
    color: inherit;
    text-decoration: none;
}

.language_button {
    height: 0.7rem;
    font-size: 0.7rem;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: left;
}

.clickable {
    cursor: pointer
}

.important-button {
    background-color: red;
    --pico-border-color: darkred;
}

.important-button:hover {
    background-color: darkred;
    --pico-primary-hover-border: rgb(88, 51, 23);
}

.start-button {
    background-color: green;
    --pico-border-color: darkgreen;
}

.start-button:hover {
    background-color: darkgreen;
    --pico-primary-hover-border: rgb(3, 65, 56);
}

.stop-button {
    background-color: yellowgreen;
    --pico-border-color: teal;
}

.stop-button:hover {
    background-color: darkcyan;
    --pico-primary-hover-border: rgb(3, 65, 56);
}

.disabled-button {
    background-color: gainsboro;
    --pico-border-color: darkslategray;
}
